In [17]:
import pandas as pd

data = pd.DataFrame({
    "name":["amy","john","bob"],
    "salary":[30000,40000,300]
},index=["a",'b','c'])
print(data)
print(data.shape)
s1 = pd.Series
print(data.iloc[1])

   name  salary
a   amy   30000
b  john   40000
c   bob     300
(3, 2)
name       john
salary    40000
Name: b, dtype: object

In [8]:
print(data.iloc[1])
print(data.loc["c"])

name       john
salary    40000
Name: b, dtype: object
name      bob
salary    300
Name: c, dtype: object

###get second col
###get third row

In [11]:
data["revenue"] = [50000,60000,70000]
data["rank"] = pd.Series([5,7,8],index = ["a","b","c"])
data["cp"] = data["revenue"]/data["salary"]
print(data)

   name  salary  rank  revenue          cp
a   amy   30000     5    50000    1.666667
b  john   40000     7    60000    1.500000
c   bob     300     8    70000  233.333333

###build new sheet

In [14]:
data = pd.Series([330,500,700])
# condition = [True,False,True]
condition = data > 450
filterdata = data[condition]
print(filterdata)

1    500
2    700
dtype: int64

In [16]:
data = pd.Series(["peaches","peace","please"])
condition = data.str.contains("s")
print(condition)
filterdata = data[condition]
print(filterdata)

0     True
1    False
2     True
dtype: bool
0    peaches
2     please
dtype: object

###filter string contain p

In [18]:
condition = data["name"]=="amy"
print(condition)
filterdata = data[condition]
print(filterdata)

a     True
b    False
c    False
Name: name, dtype: bool
  name  salary
a  amy   30000

:

In [ ]:
### find value

In [1]:
data = pd.read_csv("")
print(data.shape)
print(data.columns)
print(data[""].nlargest().mean()) #欄位 前多少格 平均數

NameError: name 'pd' is not defined